<button class="button-modal" data-modal-open>Open modal</button>

<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button class="btn-close" data-modal-close>&#10006;</button>
      
      
      <img src="./images/demo.jpg" width="100%" height="100%" alt="" class="film-preview-img" />

      <div>
        <h1 class="h1">A FISTFUL OF LEAD</h1>
        <table class="table-info">
          <tr>
            <td class="modal-info">Vote / Votes</td>
            <td><span class="vote-modal"></span> / <span class="votes-modal"></span></td>
          </tr>
          <tr>
            <td class="modal-info">Popularity</td>
            <td></td>
          </tr>
          <tr>
            <td class="modal-info">Original Title</td>
            <td></td>
          </tr>
          <tr>
            <td class="modal-info">Genre</td>
            <td></td>
          </tr>
        </table>

        <span>ABOUT</span>
        <p></p>
        
        <ul class="buttons-list">
          <li><button type="submit" class="btn-modal">ADD TO WATCHED</button></li>
          <li><button type="submit" class="btn-modal">ADD TO QUEUE</button></li>
        </ul>
      </div>
      

    </div>
</div>